@model List<proyecto.Models.ViewModels.ListCategoriaViewModel>
@{
    ViewBag.Title = "Listado de Categorias";
}

<h2>Listado de Categoria</h2>
<div class="row" style="text-align:right;padding:5px;">
    <a href="~/Categoria/Nuevo" class="btn btn-primary"> Nueva Categoria</a>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>

            @foreach (var elemento in Model)
            {
                <tr>
                    <td>@elemento.id_categoria</td>
                    <td>@elemento.categoria</td>
                    <td>
                        <a class="btn btn-warning" href="~/Categoria/Editar/@elemento.id_categoria">Editar</a>
                        <a class="btn btn-danger" href="~/Categoria/Eliminar/@elemento.id_categoria">Eliminar</a>
                    </td>
                </tr>
            }
        </table>
    </div>


</div>