@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Proyecto Biblioteca</h1>
    <p class="lead">Programacion 3</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Carne: 201925515</h3>
        <p>
            Desarrollado por: Joselynne Pahola Ponsoy Santos
        </p>

    </div>
</div>