@model List<proyecto.Models.ViewModels.ListAutorViewModel>
@{
    ViewBag.Title = "Listado de Autores";
}

<h2>Listado de Autores</h2>
<div class="row" style="text-align:right;padding:5px;">
    <a href="~/Autor/Nuevo" class="btn btn-primary"> Nuevo Autor</a>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
            
            @foreach (var elemento in Model)
            {
                <tr>
                    <td>@elemento.id_autor</td>
                    <td>@elemento.nombre</td>
                    <td>
                        <a class="btn btn-warning"href="~/Autor/Editar/@elemento.id_autor">Editar</a>
                        <a class="btn btn-danger"href="~/Autor/Eliminar/@elemento.id_autor">Eliminar</a>
                    </td>
                </tr>
            }
        </table>
    </div>


</div>